{% extends 'AppTaskList/base.html' %}
{% block title %}Taske List{% endblock %}
{% block content %}

    <section class="task_list">
        <h1> Task List</h1>
            <form method="POST" action="/">
                    {% csrf_token %}
                    {{form.title}} 
                    <input type="submit" name="Create Task" id="input">
            </form> 
            
        {% for task in tasks %}
                <div class="title_task"> 
                    <div>           
                        {% if task.complete == True %}
                            <strike>{{task}}</strike>
                        {% else %}
                            <p>{{task}} <p> </p>
                        {% endif %}               
                    </div>
                </div>
        {% endfor %}
    </section>
{% endblock %}
