* { margin: 0; padding: 0; }

h1 {
    margin-top: 20px;
}

form {
    display: inline-flex;
    width: 100%;
   
}
body {
    max-width: 40%;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
    padding-top: 50px;
}
section.form {
    width: 100% !important;;
  
}

input#id_title {
    width: 76.9%;
    position: absolute;
    padding: 5px;
    border: none;
}
div.button {
   padding-left: 81.6%;
}

input#input {
    background: #FF0054;
    color: #ffffff;
    padding: 5px;
    position: relative;
    border: medium #FF0054;
    
}
section.task_list {
    width: 100%;
}

p{
    padding: 6px;
}
div.a {
    width: 63px;
    background-color:#FF0054;
    text-align: center;
    padding: 6px;
    border-radius: 3px;
    
}

div.title_details{
    padding: 30px;
    margin-top: 30px;
    border: none;
    border-bottom: medium solid yellow;
    width: 80%;
}

div.title_task {
    width: 50%;
    position: absolute;
}

div.details {
    padding-left: 86%;
    width: 20%;
}

a{
    color: #ffffff;
    text-decoration-line: none;
}